@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0px;
}

*::--webkit-scrollbar-track {
  background: 'transparent';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    Helvetica Neue, sans-serif;
  overscroll-behavior: none;
  scroll-behavior: initial;
  min-height: '100%';
  height: 'auto';
  overflow: auto;
  @apply selection:bg-black selection:text-white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  @apply overflow-hidden;
}

/* p span {
  @apply block
  translate-y-full
  transition-all
  ease-[cubic-bezier(.45,0,0,1)]
  duration-1000;
} */

/* p span.active {
  @apply translate-y-0;
} */
